@font-face {
        font-family: 'Hanken';
        src: url(./assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
        font-weight: normal;

        font-weight: bold;
        src: url(./assets/fonts/static/HankenGrotesk-Bold.ttf);

        font-weight: 800;
        src: url(./assets/fonts/static/HankenGrotesk-ExtraBold.ttf);

        font-weight: 500;
        src: url(./assets/fonts/static/HankenGrotesk-Medium.ttf);
}

body {
        width: 1440px;
        margin-top: 100px;
        font-family: 'Hanken', sans-serif;
        font-size: 18px;
        background-color: hsl(221, 100%, 96%);
}

.parent-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 600px;
        background-color: white;
}

.first-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        color: white;
        padding: 24px;
        border-radius: 40px;
        height: 50vh;
        margin: 0px;
}

#score /*76*/ {
        font-weight: 800;
        font-size: 54px;
} 

#circle{
        border-style: none;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        padding: 40px;
        text-align: center;
        background: linear-gradient(to right, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

#remark {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
}
#remark p {
        text-align: center;
}

#great {
        font-weight: bold;
        font-size: larger;
        margin-bottom: 0px;
}

.second-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 50vh;
        background-color: white;
        padding: 20px;
        border-radius: 0 40px 40px 0;
        margin-right: -40px;
}

#summary {
        font-weight: bold;
        padding-bottom: 10px;
}

#result {
        font-weight: 800;
}

.subjects {
        display: flex;
        justify-content: space-between;
        gap: 130px;
        border-radius: 8px;
        padding: 10px;
        border-style: none;
        margin: 4px;
}

#subjects /* subject boxes */ {
        display: flex;
        flex-direction: column;
        gap: 10px;
}

#reaction {
        color: hsl(0, 100%, 67%);
        background-color: hsl(0, 77%, 92%);
}
#memory {
        color: hsl(39, 100%, 56%);
        background-color: hsl(39, 73%, 85%);
}
#verbal {
        color: hsl(166, 100%, 37%);
        background-color: hsl(166, 65%, 87%);
}
#visual {
        color: hsl(234, 85%, 45%);
        background-color: hsl(235, 100%, 90%);
}

#continue {
        background-color: hsla(256, 72%, 46%, 1);
        padding: 10px;
        border-radius: 60px;
        margin: 20px;
}